<?xml version="1.0"?>
<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Inpsyde users table tests">
			<directory suffix="Test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
